<a href="https://colab.research.google.com/github/KhattakDataLab/Port/blob/main/operator.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#arithmatic operator

In [ ]:
#addition operator
num_1=10
num_2=21

# Addition operator
sum=num_1+num_2
print('Sum',sum)

#subtraction
sub=num_1-num_2
print("subtract",sub)

#multiplaction
mul=num_1*num_2
print("multiplication ",mul)


# division
div=num_1/num_2
print("divison ",div)

#exponent
exp=num_1 ** num_2
print("Exponent ",exp)

#modolus
mod=num_1 % num_2
print("modolus ",mod)

Sum 31
subtract -11
multiplication  210
divison  0.47619047619047616
Exponent  1000000000000000000000
modolus  10

#Assigment operator

In [ ]:
a=4
a+=3
print(a)

7

In [ ]:
#logical operator
a =10
print(a>20 and a<20)  # and operator both conbdition should be true

# OR operator itleast one condiotion are true the answer should be true

print(a>20 or a<20)


#not operator the negation of conditon

print(not(a>20 or a<20))

False
True
False

In [ ]:
# identity operator

# is
#is not

x=3
y=3
print(x is not  y )

False

Membership operator

In [ ]:
# in
#not in
a =2
b= 4

c =[1,2,3,4,5,6,7]
print( a in c )
print(b not in c )

True
False